<!-- NAVIGATION --> 
<header id="nav-header">
  <nav id="nav-bar" class="top-bar fluid-width block-color nav-center sticky-nav animation fadeInDown">

    <div id="nav-wrapper">

      <!-- LOGO -->
      <div class="logo-wrapper">
        <!-- CSS LOGO --> 
        <a href="index.html">
          <div class="css-logo rounded">
            <div class="css-logo-text">
              <strong>G</strong><i class="de-icon-heart-1"></i><strong>D</strong>
            </div>
          </div>
        </a>
      </div>
      <!-- END of LOGO -->

      <div id="mobile-nav">
        <i class="de-icon-menu"></i>
      </div>

      <ul id="nav-menu">
        <li class="first-child">
          <a href="index.html">HOME</a>
        </li>
        <li>
          <a href="#">ABOUT</a>
          <ul>
            <li>
              <a href="him.html">ABOUT HIM</a>
            </li>
            <li>
              <a href="her.html">ABOUT HER</a>
            </li>
          </ul>   
        </li>
        <li>
          <a href="gallery.html">GALLERY</a>
        </li>
        <li><a href="story.html">THE STORY</a></li>
        <li class="first-child split-margin">
          <a href="#">THE WEDDING</a>
          <ul>
            <li><a href="location.html">LOCATION</a></li>
            <li><a href="accommodation.html">ACCOMMODATION</a></li>
            <li><a href="people.html">PEOPLE</a></li>
            <li><a href="gift.html">GIFT REGISTRY</a></li>
          </ul>
        </li>
        <li>
          <a href="blog.html">BLOG</a>
        </li>
        <!-- <li>
          <a href="page.html">PAGE</a>
        </li> -->
        <li>
          <a href="#">RSVP</a>
          <ul>
            <li><a href="rsvp-1.html">RSVP - 1</a></li>
            <li><a href="rsvp-2.html">RSVP - 2</a></li>
            <li><a href="rsvp-3.html">RSVP - 3</a></li>
          </ul>
        </li>
        <li style="visibility: hidden;"><a href="#">SPACER</a></li>
      </ul>

      <div class="clearboth"></div>

    </div>

  </nav>
</header> <!-- END of NAVIGATION -->