<!-- RSVP SECTION -->
<section id="rsvp">

  <div class="container">
    <div class="row">

      <!-- SECTION TITLE -->
      <div class="col-md-12 text-center ">

        <div class="section-title animation fadeInUp">
          <div class="heart-divider">
            <i class="de-icon-heart pink-heart"></i>
            <i class="de-icon-heart grey-heart"></i>
          </div>

          <h2>
            ARE YOU ATTENDING?
          </h2>

          <p>
            Please reserve before June 19th, 2015. Lorem ipsum dolor sit amet, consectetur adipiscing
          </p>

          <a href="rsvp-1.html" class="de-button medium animation fadeInUp">
            RSVP
          </a>
        </div>

      </div>

    </div>
  </div>

</section>