<!-- THE WEDDING SECTION -->
<section id="the-wedding">

  <div class="container">

    <!-- ROW-1 -->
    <div class="row">

      <!-- SECTION TITLE -->
      <div class="col-md-12 text-center">

        <div class="section-title animation fadeInUp">
          <h2>
            THE WEDDING
          </h2>

          <p class="blurb">
            Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing
          </p>

          <div class="heart-divider">
            <span class="grey-line"></span>
            <i class="de-icon-heart pink-heart"></i>
            <i class="de-icon-heart grey-heart"></i>
            <span class="grey-line"></span>
          </div>
        </div>
      </div>
    </div> <!-- END of ROW-1 -->


    <!-- ROW-2 -->
    <div class="row">      

      <div class="col-md-offset-1 col-md-10">

        <div class="container-fluid">
          <div class="row">

            <!-- ITEM-1 -->
            <div class="wedding-item col-md-4 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">

                <!--PHOTO-->
                <img src="images/the-wedding-1a.jpg" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                </div><!--END of PHOTO OVERLAY-->

                <div class="layer wh95 border-photo-caption fade-out">
                </div><!--END of PHOTO CAPTION-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="location.html" class="de-button outline small">
                        GET DIRECTION
                      </a>

                    </div>
                  </div>
                </div><!--END of ICON LINK-->

              </div><!--END of PHOTO-ITEM--> 

              <!-- TITLE & EXCERPT -->
              <div class="title-excerpt">
                <h3><a href="location.html">LOCATION</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non </p>
              </div>
              <!-- END of TITLE & EXCERPT -->

            </div><!-- END of ITEM-1 -->


            <!-- ITEM-2 -->
            <div class="wedding-item col-md-4 animation delay1 fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">

                <!--PHOTO-->
                <img src="images/the-wedding-4a.jpg" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                </div><!--END of PHOTO OVERLAY-->

                <div class="layer wh95 border-photo-caption fade-out">

                </div><!--END of PHOTO CAPTION-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="gift.html" class="de-button outline small">
                        GIFT LIST
                      </a>

                    </div>
                  </div>
                </div><!--END of ICON LINK-->

              </div><!--END of PHOTO-ITEM--> 

              <!-- TITLE & EXCERPT -->
              <div class="title-excerpt">
                <h3><a href="gift.html">GIFT REGISTRY</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non </p>
              </div>
              <!-- END of TITLE & EXCERPT -->

            </div><!-- END of ITEM-2 -->


            <!-- ITEM-3 -->
            <div class="wedding-item col-md-4 animation delay2 fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">

                <!--PHOTO-->
                <img src="images/accomodation.jpg" alt="" class="hover-animation image-zoom-in">

                <!--PHOTO OVERLAY-->
                <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                </div><!--END of PHOTO OVERLAY-->

                <div class="layer wh95 border-photo-caption fade-out">

                </div><!--END of PHOTO CAPTION-->

                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                  <div class="alignment">
                    <div class="v-align center-middle">

                      <a href="accomodation.html" class="de-button outline small">
                        ACCOMODATION
                      </a>

                    </div>
                  </div>
                </div><!--END of ICON LINK-->

              </div><!--END of PHOTO-ITEM--> 

              <!-- TITLE & EXCERPT -->
              <div class="title-excerpt">
                <h3><a href="accomodation.html">ACCOMODATION</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non </p>
              </div>
              <!-- END of TITLE & EXCERPT -->

            </div> <!-- END of ITEM-3 -->

          </div>


        </div>

      </div>                        
    </div><!-- END of ROW-2 -->

  </div><!-- END of CONTAINER -->

</section>