<!--COUPLE SECTION-->
<section id="couple">

  <div class="container">
    <div class="row">

      <!-- SECTION TITLE -->
      <div class="col-md-offset-1 col-md-10 text-center">

        <div class="section-title  animation fadeInUp">
          <h2>
            THE HAPPY COUPLE
          </h2>

          <p class="blurb">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus.
          </p>

          <div class="heart-divider">
            <span class="grey-line"></span>
            <i class="de-icon-heart pink-heart"></i>
            <i class="de-icon-heart grey-heart"></i>
            <span class="grey-line"></span>
          </div>
        </div>
      </div>

      <!-- SECTION CONTENT -->
      <div class="col-md-offset-1 col-md-5">

        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInLeft">

          <!--HIS-PHOTO-->
          <img src="images/him2.jpg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--PHOTO CAPTION-->
          <div class="layer wh95 border-photo-caption hover-animation fade-out">
            <div class="alignment">
              <div class="v-align center-bottom">

                <div>
                  <div class="heart-divider">
                    <i class="de-icon-heart pink-heart"></i>
                    <i class="de-icon-heart white-heart"></i>
                  </div>
                  <div class="banner-text light small" style="letter-spacing:3px;">
                    <h4>*** THE GROOM ***</h4>
                  </div>
                </div>
              </div>
            </div>
          </div><!--END of PHOTO CAPTION-->


          <!--ICON LINK-->
          <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <a href="profile-him.html" class="de-button outline medium">
                  ABOUT HIM
                </a>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->                                    

        <p class="couple-excerpt animation fadeInLeft">
          <strong>I'm Gerrard Leandro. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar.
        </p>

      </div>

      <div class="col-md-5">

        <!--PHOTO-ITEM-->
        <div class="photo-item animation fadeInRight">

          <!--HER-PHOTO-->
          <img src="images/her2.jpg" alt="" class="hover-animation image-zoom-in">

          <!--PHOTO OVERLAY-->
          <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
          </div><!--END of PHOTO OVERLAY-->

          <!--PHOTO CAPTION-->
          <div class="layer wh95 border-photo-caption hover-animation fade-out">
            <div class="alignment">
              <div class="v-align center-bottom">

                <div>

                  <div class="heart-divider">
                    <i class="de-icon-heart pink-heart"></i>
                    <i class="de-icon-heart white-heart"></i>
                  </div>
                  <div class="banner-text light small" style="letter-spacing:3px;">
                    <h4>*** THE BRIDE ***</h4>
                  </div> 
                </div>
              </div>
            </div>
          </div><!--END of PHOTO CAPTION-->

          <!--ICON LINK-->
          <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
            <div class="alignment">
              <div class="v-align center-middle">

                <a href="profile-her.html" class="de-button outline medium">
                  ABOUT HER
                </a>

              </div>
            </div>
          </div><!--END of ICON LINK-->

        </div><!--END of PHOTO-ITEM-->  

        <p class="couple-excerpt animation fadeInRight">
          <strong>I'm Dianne Anna. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar.
        </p>

      </div>
    </div>
  </div>
</section>